body {
  padding: 30px;
  background-color: rgb(31, 30, 31);
  color: rgb(43, 59, 38);
}
h1 {
  text-align: center;
}
a {
  font-size: 20px;
  text-decoration: none;
  color: #6b7acf;
  font-weight: 900;
  transition: all 400ms ease-out;
}

a:hover {
  font-size: 22px;
  color: #eb8ee6;
}
